<ul>
    <li {% if active_menu == 'account' %}class="active"{% endif %}><a href="/account">Account Details</a></li>
    <li {% if active_menu == 'order-history' %}class="active"{% endif %}><a href="/pages/order-history">order history</a></li>
    <li><a href="/account/logout">sign out</a></li>
</ul>