<div id="cart" class="popup-window">
  <div class="cart-wrap">
      <div class="top-bar">
          <div class="title">Cart <span class="cart-quantity">0 products</span></div>
          <div class="close-cart"></div>
      </div>
      <div class="mini-cart-items items">
            <div class="items-list cart-items mini-products-list">

            </div>
      </div>
      <div class="empty-cart no-items-in-cart" style="display: none;">
          <div class="title">Your cart is empty</div>
          <div class="btn-link"><a href="/collections/watches" class="btn-link btn-bg-green btn-shop">Start Shopping</a></div>
      </div>
  </div>
  <div class="total small-cart-checkout-button">
      <div class="total-row">
            <a href="/checkout" class="btn-checkout">
                <span>Total: <span class="mini-cart-subtotal">$0</span></span>|<span> Checkout</span>
            </a>
      </div>
  </div>
</div> <!-- END CART -->