@import "global_wars";

@include font-face('Angelic Bonques Sans Regular', 'AngelicBonquesSansRegular');

*{
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
a {
	text-decoration: none;
}
a img {
	border: 0;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}

.custom-container {
    max-width: 1306px;
    width: 100%;
    margin: 0 auto;
}
.container {
	@include media($sm){
		padding-left: 26px;
		padding-right: 26px;
	}
}
.display-flex {
    display: flex;
}


@keyframes wave {
	0% {
	  margin-left: 0;
	}
	100% {
	  margin-left: -1440px;
	}
}

@keyframes swell {
	0%, 100% {
	  transform: translate3d(0,-25px,0);
	}
	50% {
	  transform: translate3d(0,5px,0);
	}
  }

header {
	padding-top: 0px;
	padding-bottom: 5px;
    position: relative;
	a {
		color: #000000;
	}
	.header-wrap {
		margin: 0 auto;
        background-color: #ffffff;
        position: relative;
        z-index: 10;
		.top-row {
            padding-bottom: 20px;
            .container {
                width: 1572px;
                margin: 0 auto;
                box-sizing: border-box;
                @include media($xxl){
                    width: 100%;
                    padding: 0px 20px;
                }
            }
			.logo-wrap {
				width: 58px;
				height: 47px;
				margin:  0 auto 1px;
				img {
					@include image-fit;
				}
			}
		}	
		.middle-row {
			.left-column {
				width: 20%;
			}
			.right-column {
				width: 20%;
				.links {
					justify-content: end;
				}
			}
			.center-column {
				width: 60%;
				text-align: center;		
				padding-top: 7px;	
			}
			.main-logo {
				font-size: 39.9757px;
				line-height: 130.1%;
				letter-spacing: -0.02em;
				text-transform: uppercase;
				font-family: 'Angelic Bonques Sans Regular', sans-serif;
			}
			.links {
				display: flex;
				.link-item {
					margin-right: 26px;
					text-align: center;
                    position: relative;
					&:last-child {
						margin-right: 0px;
					}
                    .search-action {
                        svg {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                        }
                        .close-image {
                            opacity: 0;
                            transition: 0.2s;
                        }
                        &.active {
                            .close-image {
                                opacity: 1;
                                transition: 0.2s;
                            }
                            .search-image {
                                opacity: 0;
                                transition: 0.2s;
                            }
                        }
                    }
				}
			}
			.icon {
				width: 41px;
				height: 41px;
				margin: 0 auto 7px;
				img {
					max-width: 100%;
					max-height: 100%;
				}
				a {
					font-size: 14px;
					line-height: 140%;
					text-align: center;
				}
			}
		}	
		.bottom-row {
			.navigation-wrap {
				ul {
					justify-content: center;
					li {
						margin: 0px 38px;
						list-style: none;
                        @include media($lg){
                            margin: 0px 18px; 
                        }
						&:first-child {
							margin-left: 0px;
						}
						&:last-child {
							margin-right: 0px;
						}
						a {
							display: inline-flex;
							height: 26px;
							align-items: center;
							padding: 0px 10px 0px 37px;
							position: relative;
							font-size: 14px;
							line-height: 140%;
							border-radius: 10px;
							transition: 0.3s;
							.icon {
								position: absolute;
								width: 20px;
								height: 20px;
								top: 3px;
								left: 10px;
								path {
									transition: 0.3s;
								}
								img {
									max-width: 100%;
									max-height: 100%;
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    &.hover-icon {
                                        opacity: 0;
                                        transition: 0.2s;
                                    }
								}
							}
							&:hover {
								background: #A39562;
								transition: 0.3s;
								color: #ffffff;
								.icon {
									path {
										fill: #ffffff;
										transition: 0.3s;
									}
                                    .hover-icon {
                                        opacity: 1;
                                        transition: 0.2s;
                                    }
                                    .main-icon {
                                        opacity: 0;
                                        transition: 0.2s;
                                    }
								}
							}
						}
					}
				}
			}
		}
	}
    .search-form {
        width: 100%;
        height: 112px;
        position: absolute;
        left: 0px;
        z-index: 8;
        background: #F9F9F9;
        transform: translateY(-112px);
        transition: 0.3s;
        padding-top: 39px;
        box-sizing: border-box;
        &.show {
            transform: translateY(0px); 
            transition: 0.3s;
        }
        .form-wrap {
            width: 800px;
            margin: 0 auto;
            position: relative;
            @include media($xxl){
                width: 90%;
            }
            .input-field {
                input[type=text] {
                    width: 100%;
                    background: #FFFFFF;
                    border: 1px solid #D9D9D9;
                    border-radius: 7px;
                    height: 41px;
                    padding-left: 20px;
                    padding-right: 47px;
                    font-size: 20px;
                    line-height: 140%;
                    color: #171717;
                    box-sizing: border-box;
                    &::placeholder {
                        font-size: 20px;
                        line-height: 140%;
                        color: #171717;
                    }
                }
                &.submit-field {
                    position: absolute;
                    right: 0px;
                    top: 1px;
                    button {
                        width: 41px;
                        height: 41px;
                        background-color: transparent;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
footer {
	padding-bottom: 18px;
    .sub-footer-wrap {
        @include media($lg){
            flex-wrap: wrap;
        }
    }
	.left-column {
		width: 66%;
		background: #F4F4F4;
		padding-left: 179px;
        @include media($xxl){
            padding-left: 40px;
        }
        @include media($lg){
            width: 100%;
            order: 2;
        }
		.navigation {
			display: flex;
            @include media($lg){
                flex-wrap: wrap;
            }
		}
	}
	.right-column {
		width: calc(100% - 66%);
		background: rgba(#F4F4F4, 0.5);
		padding-left: 161px;
        @include media($xxl){
            padding-left: 40px;
        }
        @include media($lg){
            width: 100%;
            order: 1;
            background: #2D2D2D;
            color: #ffffff;
            text-align: center;
            a {
                color: #ffffff !important;
            }
        }
	}
	.column {
		box-sizing: border-box;
		padding-top: 54px;
		padding-bottom: 69px;
		.footer-column {
			margin-right: 135px;
            @include media($xxl){
                margin-right: 60px;
            }
            @include media($lg){
                margin-right: 0px;
                &:first-child {
                    width: 100%;
                    margin-bottom: 20px;
                }
                &:nth-child(2) {
                    width: 50%;
                }
                &:nth-child(3) {
                    width: 50%;
                }
            }
			&:last-child {
				margin-right: 0px;
			}
			.title-column {
				font-weight: 600;
				font-size: 30px;
				line-height: 140%;
				margin-bottom: 33px;
                @include media($xxl){
                    font-size: 26px;
                }
                @include media($lg){
                    margin-bottom: 10px;
                }
			}
			ul {
				li {
					list-style: none;
					margin-bottom: 2px;
					&:last-child {
						margin-bottom: 0px;
					}
					a {
						font-size: 20px;
						line-height: 140%;
						color: #171717;
                        @include media($xxl){
                            font-size: 14px;
                        }
					}
				}
			}
			.contacts {
				margin-bottom: 87px;
				.name {
					width: 70px;
					display: inline-block;
					margin-right: 20px;
					font-size: 20px;
					line-height: 140%;
                    @include media($xxl){
                        font-size: 14px;
                    }
                    @include media($lg){
                        display: none;
                    }
				}
				a {
					font-size: 20px;
					line-height: 140%;
					color: #000000;
					font-weight: 600;
                    @include media($xxl){
                        font-size: 14px;
                    }
                    @include media($lg){
                        margin-bottom: 20px;
                        display: inline-block;
                    }
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.social {
                @include media($lg){
                    justify-content: center;
                }
				.social-link {
					margin-right: 5px;
					&:last-child {
						margin-right: 0px;
					}
					a {
						width: 44px;
						height: 44px;	
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						background-color: #1B1B1B;				
					}
				}
			}
		}
	}
    .footer-wrap {
        @include media($lg){
           display: flex;
           flex-direction: column;
        } 
    }
	.additional-navigation {
		padding: 22px 0px 34px;
        @include media($lg){
            order: 2;
            padding: 22px 8px 34px;
        }
		ul {
			text-align: center;
            @include media($lg){
                padding: 14px 24px;
                background: #2D2D2D;
                border-radius: 7px;
            }
			li {
				display: inline-block;
				list-style: none;
				margin: 0px 25px;
                @include media($lg){
                    margin: 0px 12px;
                    &:first-child {
                        margin-left: 0px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
				a {
					font-weight: 600;
					font-size: 20px;
					line-height: 140%;
					color: #171717;
                    @include media($lg){
                        color: #ffffff;
                        font-size: 14px;
                    }
				}
			}
		}
	}
	.logos-wrap {
		justify-content: center;
        flex-wrap: wrap;
        @include media($lg){
            order: 1;
            margin-top: 20px;
        }
		.logo-item {
			margin: 0px 10px 20px;
			a {
				width: 151px;
				height: 58px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 8.18012px;
				background-color: #ffffff;
				filter: drop-shadow(0px 3.74221px 18.7111px rgba(217, 217, 217, 0.3));				
			}
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

.modal__overlay {
    visibility: hidden;
    opacity: 0;
    background-color:  rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 100vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    &.active {
        visibility: visible;
        top: 0;
        transition-delay: 0s;
    }
}

#cart {
    position: fixed;
    right: -455px;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    width: 455px;
    min-height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: 0.5s;
    @include media($md){
        width: 550px;
        right: -550px;
    }
    @include media($sm){
        width: 100%;
        right: -100%;
    }
    .cart-wrap {
        position: relative;
        height: 100%;
    }
    &.active {
        right: 0px;
        transition: 0.5s;
    }
    .top-bar {
        position: relative;
        text-align: center;
        height: 163px;
        display: flex;
        align-items: center;
        background-color: #F9F9F9;
        padding: 0px 20px;
        @include media($md){
            height: 39px;
        }
        .close-cart {
            display: block;
            width: 20px;
            height: 20px;
            cursor: pointer;
            z-index: 5;
            position: absolute;
            top: 70px;
            right: 48px;
            @include media($md){
                top: 10px;
                right: 9px;
            }
            &:before,
            &:after {
                content: '';
                width: 26px;
                height: 1px;
                position: absolute;
                background-color: #1F1F1F;
                top: 9px;
                left: -3px;
                transform: matrix(0.71, -0.63, 0.79, 0.71, 0, 0);
                @include media($md){
                    width: 12px;
                    height: 1px;
                    top: 9px;
                    left: 3px;
                }
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
        .title {
            font-size: 30px;
            line-height: 140%;
            font-weight: 600;
            letter-spacing: 0.03em;
            text-align: left;
            @include media($sm) {
                font-size: 11.6265px;
                line-height: 14px;
                position: relative;
                top: -1px;
            }
            span {
                font-size: 14px;
                line-height: 140%; 
                color: rgba(#171717, 0.5);
            }
        }
    }
    .items {
        overflow: auto;
        height: 100%;
        padding: 33px 20px 305px;
        box-sizing: border-box;
    }
    .empty-cart {
        padding-top: 194px;
        text-align: center;
        .title {
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            color: #284734;
            font-weight: 700;
            margin-bottom: 23px;
        }
    }
    .items-list {
        .no-items-in-cart {
            text-align: center;
            font-weight: 600;
            padding: 15px 0px;
        }
        .item-row {
            display: flex;
            justify-content: space-between;
            padding-top: 32px;
            margin-bottom: 20px;
            position: relative;
            min-height: 142px;
            @include media($sm){
                padding-left: 21.8px;
                padding-right: 20.35px;
                margin-bottom: 26px;
                padding-bottom: 3px;
            }
            @include media($xs){
                padding-left: 15px;
                padding-right: 15px;
            }
            .remove-roduct {
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background-color: #F4F4F4;
                position: absolute;
                right: 0px;
                top: 0px;
                cursor: pointer;
                &:before,
                &:after {
                    content: '';
                    width: 15px;
                    height: 1px;
                    position: absolute;
                    background-color: #1F1F1F;
                    top: 11px;
                    left: 4px;
                    transform: matrix(0.71, -0.63, 0.79, 0.71, 0, 0);
                    @include media($md){
                        width: 12px;
                        height: 1px;
                        top: 9px;
                        left: 3px;
                    }
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
            .columns {
                width: 100%;
            }
            .left-column {
                width: calc(100% - 272px);
                background-color: #ffffff;
                border-radius: 5px 0px 0px 5px;
                .image-wrap {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    border-radius: 10px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
            .right-column {
                width: 272px;
                background: #F4F4F4;
                border-radius: 0px 5px 5px 0px;
                padding: 28px 15px 30px;
                box-sizing: border-box;
                position: relative;
                .top-row {
                    position: absolute;
                    width: 100%;
                    padding-left: 15px;
                    padding-right: 100px;
                    top: 0px;
                    left: 0px;
                    box-sizing: border-box;
                    .label-brend {
                        font-size: 11px;
                        line-height: 140%;
                        color: rgba(#171717, 0.5);
                    }
                    .label-percent {
                        background: #CAB160;
                        border-radius: 0px 5px 0px 5px;
                        height: 20px;
                        width: 85px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 18px;
                        color: #ffffff;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        box-sizing: border-box;
                    }
                }
                .title {
                    margin-bottom: 11px;
                    a {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 140%;
                        color: #171717;
                    }
                }
                .columns-prices {
                    display: flex;
                    .column {
                        width: 50%;
                        height: 14px;
                        display: flex;
                        align-items: center;
                        span {
                            display: inline-block;
                        }
                        .label {
                            font-weight: 600;
                            font-size: 10px;
                            line-height: 140%;
                            margin-right: 10px;
                        }
                        .price {
                            display: flex;
                            height: 100%;
                            align-items: center;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 120%;
                            color: #ffffff;
                            border-radius: 5px;
                            padding: 0px 5px;
                            &.retail-price {
                                background: #2D2D2D;
                            }
                            &.discount-price {
                                background: #CAB160;
                            }
                        }
                    }
                }
                .price-total {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 3px;
                    left: 0px;
                    padding-left: 15px;
                    height: 23px;
                    .label {
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 140%;
                        display: inline-block;
                        margin-right: 10px;
                        padding-top: 2px;
                    }
                    .our-price {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }
        }
    }
    .total {
        padding: 30px 20px;
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        border-top: 1px solid #BBBBBB;
        background-color: #ffffff;
        box-sizing: border-box;
        text-align: center;
        @include media($sm){
            padding: 17px 21px 12px;
        }
        .total-row  {
            .btn-checkout {
                background: #A39562;
                border: 0.5px solid #D9D9D9;
                border-radius: 7px;
                height: 58px;
                padding: 0px 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #FFFFFF;
                cursor: pointer;
                @include media($sm){
                    height: 43px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 18px;
                    letter-spacing: 0.03em;
                    font-weight: 700;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    display: inline-block;
                    @include media($sm){
                        font-size: 15px;
                        line-height: 18px;
                    }
                    &:first-child {
                        margin-right: 8px;
                    }
                    &:last-child {
                        margin-left: 8px;
                    }
                }
            }
        }
        .description {
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            color: #636363;
        }
    }
}