// @import "../scss/general";
@import "_general";
@import "_global_wars";

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    width: 100%;
    overflow-x: hidden;
    &.fixed {
        overflow-y: hidden;
    }
    main {
        padding-bottom: 100px;
        width: 100vw;
        @include media($md){
            padding-bottom: 51px;
        }
        &.fixed {
            position: fixed;
            width: 100vw;
            top: 0px;
            transition: 0.3s;
        }
    }
    section {
        position: relative;
        overflow: hidden;
        .section-title {
            font-weight: 600;
            font-size: 30px;
            line-height: 140%;
            text-align: center;
            margin-bottom: 70px;
            @include media($md){
                font-size: 26px; 
                margin-bottom: 20px;
            }
        }
        &.home-hero {
            #hero-slider {
                position: relative;
                .slide-item {
                    padding-top: 47.3%;
                    position: relative;
                    @include media($md){
                        padding-top: 109%;
                    }
                    img {
                        position: absolute;
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        &.mobile-slide {
                            display: none;
                        }
                        @include media($md){
                            &.mobile-slide {
                                display: block;
                            }
                            &.desktop-slide {
                                display: none;
                            }
                        }
                    }
                }
                .owl-dots {
                    position: absolute;
                    width: 100%;
                    bottom: 32px;
                    z-index: 5;
                    text-align: center;
                    @include media($md){
                        bottom: 17px;
                    }
                    .owl-dot {
                        span {
                            width: 19px;
                            height: 19px;
                            opacity: 0.5;
                            border: 1px solid #000000;
                            display: inline-block;
                            margin: 0px 20px;
                            border-radius: 50%;
                            position: relative;
                            @include media($md){
                                width: 7px;
                                height: 7px;
                                background-color: #D9D9D9;
                                margin: 0px 4px;
                                border: none;
                                opacity: 1;
                            }
                            &::before {
                                content: '';
                                width: 7px;
                                height: 7px;
                                position: absolute;
                                top: 6px;
                                left: 6px;
                                background: #000000;
                                opacity: 0;
                                border-radius: 50%;
                                @include media($md){
                                    content: none;
                                }
                            }
                        }
                        &.active {
                            span {
                                border: 1px solid transparent;
                                &::before {
                                    opacity: 0.5; 
                                }
                                @include media($md){
                                    background-color: #C4C0C0;
                                    border: none;
                                }                              
                            }  
                        }
                    }
                }
            }
        }
        &.partners {
            padding: 50px 0px 50px;
            @include media($md){
                padding: 50px 0px 21px;
            }
            .partners-slider {
                transform: translateX(100px);
                @include media($xxl){
                    transform: translateX(20px);
                }
                @include media($md){
                    //width: 200%;
                    transform: translateX(8px);
                }
                .partner-item {
                    // background: #FFFFFF;
                    box-shadow: 0px 5.65188px 28.2594px rgba(217, 217, 217, 0.3);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 227px;
                    height: 227px;
                    @include media($xxl){
                        position: relative;
                        padding-top: 100%;
                        height: auto;
                        width: 100%;
                    }
                    @include media($lg){
                        width: 100px;
                        padding-top: 100px;
                    }
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                        @include media($xxl){
                            position: absolute;
                            top: 0px;
                            left: 0px;
                        }
                    }
                }
            }
        }
        &.products-grid {
            padding-top: 90px;
            padding-bottom: 57px;
            @include media($md){
                padding-top: 39px;
                padding-bottom: 61px;
            }
            .top-row {
                text-align: center;
                .tabs-wrap {
                    display: inline-flex;
                    justify-content: center;
                    .tab {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 140%;
                        color: rgba(#171717, 0.7);
                        height: 56px;
                        padding: 0px 10px;
                        border: 0.5px solid #5D5D5D;
                        border-radius: 7px;
                        margin-right: 10px;
                        @include media($md){
                            font-weight: 400;
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                        &.active {
                            color: #ffffff;
                            background: #A39562;
                            border: 0.5px solid #D9D9D9;
                        }
                    }
                }
            }
            .products-slider {
                padding-top: 70px;
                min-width: 1970px;
                transform: translateX(112px);
                filter: drop-shadow(0px 5.65188px 28.2594px rgba(217, 217, 217, 0.3));
                @include media($xl){
                    transform: translateX(20px);
                }
                @include media($lg){
                    min-width: 1240px;
                    padding-top: 30px;
                }
                @include media($md){
                    transform: translateX(8px);
                }
                .product-item {
                    width: 455px;
                    height: 580px;
                    background-color: #FFFFFF;
                    @include media($xl){
                        width: 100%;
                        height: auto;
                    }
                    .body-item {
                        .image-wrap {
                            width: 100%;
                            height: 358px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 8px 8px 0px 0px;
                            @include media($md){
                                height: 207px;
                            }
                            a {
                                display: flex;
                                width: 100%;
                                height: 100%;
                            }
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                object-position: center;
                                object-fit: contain;
                            }
                            span {
                                position: absolute;
                                &.label-brend {
                                    font-size: 20.966px;
                                    line-height: 26px;
                                    top: 3px;
                                    left: 15px;
                                    color: #878787;
                                    @include media($lg){
                                        font-size: 11px;
                                        line-height: 140%;
                                        left: 8px;
                                    }
                                }
                                &.label-percent {
                                    width: 126px;
                                    height: 30px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight: 600;
                                    font-size: 20.966px;
                                    line-height: 26px;
                                    color: #ffffff;
                                    background: #CAB160;
                                    top: 0px;
                                    right: 0px;
                                    border-radius: 0px 8px 0px 8px;
                                    @include media($lg){
                                        font-size: 14px;
                                        height: 20px;
                                        width: 82px;
                                    }
                                }
                            }
                        }
                        .product-name {
                            background: #F9F9F9;
                            border-radius: 8px 8px 0px 0px;
                            padding: 9px 15px 10px;
                            height: 98px;
                            @include media($md){
                                padding: 6px 9px 8px;
                                height: 55px;
                            }
                            a {
                                font-weight: 600;
                                font-size: 20.966px;
                                line-height: 140%; 
                                color: #171717;
                                @include media($xl){
                                    font-size: 16px;
                                }
                                @include media($md){
                                    font-size: 14px;
                                    line-height: 140%;
                                }
                            }
                        }
                    }
                    .footer-item {
                        .column {
                            display: flex;
                            height: 100%;
                            align-items: center;
                            box-sizing: border-box;
                            @include media($xl){
                                justify-content: space-between;
                            } 
                            @include media($lg){
                                justify-content: left;
                            }
                            span {
                                display: inline-block;
                            }
                            &:first-child {
                                width: calc(100% - 242px);
                                @include media($xl){
                                    width: 48%;
                                } 
                            }
                            &:last-child {
                                width: 242px;
                                @include media($xl){
                                    width: 48%;
                                } 
                            }
                        }
                        .top-row {
                            background: #F9F9F9;
                            padding-bottom: 15px;
                            border-radius: 0px 0px 8px 8px;
                            @include media($md){
                                align-items: center;
                                padding-bottom: 7px;
                            }
                            .retail {
                                padding-left: 15px;
                                @include media($lg){
                                    padding-left: 10px;
                                }
                                .label {
                                    font-weight: 600;
                                    font-size: 14.9757px;
                                    line-height: 140%;
                                    margin-right: 15px;
                                    @include media($xl){
                                        font-size: 12px;
                                    }      
                                    @include media($lg){
                                        font-size: 10px;
                                        letter-spacing: -0.05em;
                                        margin-right: 10px;
                                    }                                
                                }
                                .retail-price {
                                    background: #2D2D2D;
                                    border-radius: 8px;
                                    height: 22px;
                                    padding: 0px 8px;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: #ffffff;
                                    text-decoration: line-through;
                                    font-weight: 600;
                                    font-size: 17.9709px;
                                    line-height: 120%;
                                    @include media($xl){
                                        font-size: 14px;
                                    } 
                                    @include media($lg){
                                        font-size: 12px;
                                    } 
                                    @include media($md){
                                        height: 14px;
                                        border-radius: 5px;
                                        padding: 0px 5px;
                                    }
                                }                            
                            }
                            .discount {
                                padding-left: 20px;
                                @include media($lg){
                                    padding-left: 15px;
                                }
                                @include media($md){
                                    padding-left: 0px;
                                    position: relative;
                                    top: -1px;
                                    left: -2px;
                                }
                                .label {
                                    font-weight: 600;
                                    font-size: 20.966px;
                                    line-height: 140%;
                                    margin-right: 15px; 
                                    @include media($xl){
                                        font-size: 12px;
                                    }
                                    @include media($md){
                                        font-size: 14px;
                                        letter-spacing: -0.05em;
                                    }                                       
                                }
                                .discount-price {
                                    background: #CAB160;
                                    border-radius: 8px;
                                    height: 25px;
                                    padding: 0px 15px;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: #ffffff;
                                    text-decoration: line-through;
                                    font-weight: 600;
                                    font-size: 20.966px;
                                    line-height: 120%;
                                    @include media($xl){
                                        font-size: 14px;
                                    }
                                    @include media($lg){
                                        font-size: 12px;
                                        padding: 0px 10px;
                                        height: 17px;
                                        border-radius: 5px;
                                    }  
                                }
                            }
                        }
                        .bottom-row {
                            align-items: center;
                            height: 62px;
                            @include media($xl){
                                height: 42px;
                                justify-content: space-between;
                            } 
                            .our-price {
                                padding-left: 15px;
                                @include media($lg){
                                    padding-left: 10px;
                                }
                                .label {
                                    font-weight: 600;
                                    font-size: 14.9757px;
                                    line-height: 140%;
                                    margin-right: 34px; 
                                    @include media($xl){
                                        font-size: 14px;
                                        margin-right: 15px;
                                    } 
                                    @include media($lg){
                                        font-size: 10px;
                                    }                                      
                                }
                                .our-price-price {
                                    font-weight: 600;
                                    font-size: 24.9326px;
                                    line-height: 140%;
                                    @include media($xl){
                                        font-size: 16px;
                                    } 
                                } 
                            }
                            .order {
                                .add-to-cart {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: #A39562;
                                    border-radius: 8px 0px;  
                                    width: 100%;
                                    height: 100%;
                                    color: #FFFFFF; 
                                    font-weight: 600;
                                    font-size: 22.4636px;
                                    line-height: 28px;
                                    padding-bottom: 5px;
                                    box-sizing: border-box;
                                    @include media($xl){
                                        padding-bottom: 0px;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
                .owl-dots {
                    text-align: center;
                    margin-top: 76px;
                    @include media($xl){
                        display: none;
                    }
                    .owl-dot {
                        margin-right: 12px;
                        span {
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            border-radius: 50%;
                            background: #D9D9D9;
                        }
                        &.active {
                            span {
                                background: #C4C0C0;
                            }
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
        &.shop-filter {
            padding-top: 23px;
            padding-bottom: 10px;
            @include media($md){
                padding-top: 19px;
                padding-bottom: 19px;
            }
            .container {
                width: 1441px;
                margin: 0 auto;
                @include media($xxl){
                    width: 100%;
                    padding: 0px 20px;
                    box-sizing: border-box;
                }
                @include media($md){
                    padding: 0px 8px;
                }
                .columns {
                    justify-content: space-between;
                    @include media($md){
                        flex-wrap: wrap;
                    }
                    .column {
                        width: 447px;
                        height: 556px;
                        overflow: hidden;
                        position: relative;
                        filter: drop-shadow(0px 5.65188px 28.2594px rgba(217, 217, 217, 0.3));
                        background-color: #FFFFFF;
                        @include media($xxl){
                           width: 32%; 
                           height: auto;
                        }
                        @include media($md){
                            width: 100%;
                            margin-bottom: 60px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                        &::before {
                            content: '';
                            width: 262px;
                            height: 262px;
                            display: block;
                            border: 50%;
                            background: radial-gradient(79.03% 54.97% at 91.94% 33.33%, #171717 45.81%, #171717 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                            mix-blend-mode: normal;
                            opacity: 0.1;
                            filter: blur(43.3981px);
                            position: absolute;
                            left: -35px;
                            top: 60px;
                        }
                        .image-wrap {
                            position: relative;
                            text-align: center;
                            @include media($md){
                                height: 467px;
                            }
                            img {
                                max-width: 100%;
                                transition: 0.3s;
                            }
                        }
                        .footer {
                            position: absolute;
                            width: 100%;
                            left: 0px;
                            bottom: 0px;
                            a {
                                height: 112px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 20px;
                                line-height: 140%;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                background: #2D2D2D;
                                border-radius: 0px 0px 8px 8px;
                                @include media($md){
                                    height: 103px;
                                    font-size: 16px;
                                }
                                span {
                                    display: inline-block;
                                    position: relative;
                                    &:last-child {
                                        padding-left: 6px;
                                        padding-right: 20px; 
                                        font-weight: 600;                                       
                                        &::before {
                                            content: '';
                                            width: 12px;
                                            height: 12px;
                                            border: #FFFFFF solid;
                                            border-width: 0px 2px 2px 0px;
                                            transform: rotate(-45deg);
                                            position: absolute;
                                            right: 0px;
                                            top: 8px;
                                            @include media($md){
                                                width: 8px;
                                                height: 8px;
                                                top: 6px;
                                                border-width: 0px 1px 1px 0px;
                                            }
                                        }                                        
                                    }
                                }
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            .image-wrap {
                                img {
                                    transform: rotate(-15deg);
                                    scale: 1.1;
                                    transition: 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.big-banner {
            padding-top: 50px;
            @include media($md){
                display: none;
            }
            .image-wrap {
                position: relative;
                padding-top: 33.33%;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    object-position: center;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
        }
        &.product-info {
            padding-top: 40px;
            .container {
                width: calc(100% - 400px);
                margin: 0px auto;
            }
            .product-gallary {
                width: 631px;
                height: 665;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}