<section class="page-wrap page-content" id="customer_login"> <!-- START PAGE WRAP -->
    <div class="container">
        <div class="section-title">
            <h1>LOGIN</h1>
        </div>
        <div class="form-wrap login-form-wrap">
            {% form 'customer_login', class: "account-form" %}
                <div class="error-form">
                    {{ form.errors | default_errors }}
                </div>
                <div class="field-wrap">
                    <span>Email</span>
                    <input class="input-field" type="email"  name="customer[email]" />
                </div>
                <div class="field-wrap">
                    <span>Password</span>
                    <input class="input-field" type="password"  name="customer[password]" />
                </div>
                <p class="forgot-link"><a href="javascript:void(0)" onclick="showRecoverPasswordForm();">Forgot password?</a> </p>
                <div class="field-wrap submit-wrap">
                    <input type="submit" class="input-submit" value="LOGIN">
                </div>
            {% endform %}
            <div class="additional-links">
                <p>Don't have an account? <a href="/account/register">Create one.</a></p>
                <p>Have a Wholesale account? <a href="/account/login">Login here.</a></p>
            </div>        
        </div>
    </div>
</section> <!-- END PAGE WRAP -->

<section class="forgot-passrword page-content" id="recover_password" style="display: none;"> <!-- START PAGE WRAP -->
    <div class="container">
        <div class="section-title">
            <h1>FORGOT PASSWORD</h1>
        </div>
        <div class="form-wrap login-form-wrap">
            {% form 'recover_customer_password', class: "account-form" %}

                <div class="error-form">
                    {{ form.errors | default_errors }}
                </div>

                <div class="field-wrap">
                    <span>Email</span>
                    <input class="input-field" type="email"  name="customer[email]" />
                </div>

                <div class="field-wrap submit-wrap">
                    <input type="submit" class="input-submit" value="RESET MY PASSWORD">
                </div>

            {% endform %}
            <div class="additional-links">
                <p>Have an account? <a href="/account/login">Login here.</a></p>
            </div>            
        </div>
    </div>        
</section> <!-- END PAGE WRAP -->

<style>
    .error-form{
        color:red;
        padding-bottom: 10px;
    }
</style>
<script>
    function showRecoverPasswordForm() {
        document.getElementById('recover_password').style.display = 'block';
        document.getElementById('customer_login').style.display='none';
    }

    function hideRecoverPasswordForm() {
        document.getElementById('recover_password').style.display = 'none';
        document.getElementById('customer_login').style.display = 'block';
    }

    if (window.location.hash == '#recover') { showRecoverPasswordForm() }

    {% if reset_success %}
        document.getElementById('resetSuccess').style.display = 'block';
    {% endif %}
</script>
