<div class="container">
  <div class="top-row">
    <h1>{{ article.title }}</h1>
  </div>
  <div class="blog-post-wrap display-flex">
    <div class="blog-post">
      <div class="content">
        {{ article.content }}
      </div>      
    </div>
    <div class="blog-posts-sidebar">
      <div class="sub-title">Categories</div>
      <div class="blogs-list">
        <ul>
          {%  for blog in linklists.blogs.links %}
            <li><a href="{{ blog.url }}">{{ blog.title }}</a></li>  
          {% endfor %}          
        </ul>
      </div>    
  </div>
  </div>
</div>

{% schema %}
{
  "name": "Page content",
  "tag": "section",
  "class": "blog-post",
  "settings": []
}
{% endschema %}