<div class="container">
  <div class="top-row">
    <h1>{{ article.title }}</h1>
  </div>
  <div class="content">
    {{ article.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page content",
  "tag": "section",
  "class": "page-content",
  "settings": []
}
{% endschema %}