<div class="top-row">
    <div class="tabs-wrap">
        <div class="tab active">New products</div>
        <div class="tab">Top sale</div>
    </div>
</div>
<div id="products-slider" class="products-slider owl-carousel">
    {% assign  count = 1 %}
    {% paginate collections.all.products by 10 %}
        {% assign collection = collections.all.products | sort: 'published_at'%}
        {% for product in collection %}
            {% include  'product-preview' | product %}
            {%  assign count = count | plus: 1  %}
        {% endfor %}
    {% endpaginate %}
</div>


{% schema %}
    {
        "name": "Products slider",
        "tag": "section",
        "class": "products-grid",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "number",
                "id": "product_count",
                "label": "Count"
            }
        ],
        "presets": [
            {
                "name": "Products slider"
            }
        ]
    }
{% endschema %}